<footer class="page-footer font-small bg-light pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Website</h5>
          <ul class="list-unstyled">
            <li>
              <a routerLink="">Home</a>
            </li>
            <li>
              <a routerLink="/about">About 2</a>
            </li>
            <li>
              <a routerLink="/contact">Contact Us</a>
            </li>
          
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="fa fa-home mr-3"></i> My company, 123 Main St, New York, NY 10001, USA</p>
            </li>
            <li>
              <p><i class="fa fa-envelope mr-3"></i> info@mycompany.com</p>
            </li>
            <li>
              <p><i class="fa fa-phone mr-3"></i> + 1 800 1234 5678</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center bg-white py-3">
      <p>Copyright © 2023
        <a href="#">My Company</a>. All Rights Reserved.</p>
    </div>
  </footer>
  