<header><app-navbar/></header>

<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>About Us</h1>
        <hr>
        <p>We are an electronic e-commerce store dedicated to providing the latest and greatest electronic devices to our customers. Our team of experts carefully selects each product to ensure it meets our high standards of quality and functionality. Whether you're looking for a new laptop, a smartwatch, or a home entertainment system, we have you covered.</p>
        <p>Our commitment to our customers extends beyond just providing great products. We strive to offer excellent customer service and support to ensure that you have a positive shopping experience with us. If you have any questions or concerns, our friendly and knowledgeable support team is always here to help.</p>
        <p>Thank you for choosing our store for your electronic needs. We look forward to serving you and helping you find the perfect product to fit your lifestyle.</p>
      </div>
      <div class="col-md-4">
        <img src="https://via.placeholder.com/300x300" class="img-fluid rounded-circle" alt="...">
      </div>
    </div>
  </div>
  <footer><app-footer/></footer>
  




